body {
  color: blue;
}

.game {
  max-width: 1200px;
  width: 100%;
}
.game__current {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.game__current .score {
  max-width: 150px;
  width: 100%;
  border: 2px solid blue;
  padding: 10px;
  margin: 0 5px 10px 0;
}
.game__current .button {
  background-color: #1099bb;
  padding: 10px;
  max-width: 40px;
  width: 100%;
  border: 2px solid blue;
  border-radius: 8px;
  margin-right: 5px;
}
.game__current .description {
  padding: 10px;
  border: 2px solid blue;
}
.game__current .radius {
  border-radius: 8px;
  margin-right: 5px;
}
.game__screen {
  max-width: 1200px;
  width: 100%;
  height: auto;
}