$body-color: blue;
$descr-padding: 10px;
$button-padding: 10px;
$button-border: 2px solid blue;
$button-bg-color: #1099bb;
$input-button-radius: 8px;

body {
  color: $body-color;
}

.game {

    max-width: 1200px;
    width: 100%;

    &__current {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: row;

        .score {
            max-width: 150px;
            width: 100%;
            border: $button-border;
            padding: $descr-padding;
            margin: 0 5px 10px 0;
        }

        .button {
            background-color: $button-bg-color;
            padding: $button-padding;
            max-width: 40px;
            width: 100%;
            border: $button-border;
            border-radius: $input-button-radius;
            margin-right: 5px;
        }

        .description {
            padding: $descr-padding;
            border: $button-border;
        }

        .radius {
            border-radius: $input-button-radius;
            margin-right: 5px;
        }
        
    }

    &__screen {
        max-width: 1200px;
        width: 100%;
        height: auto;
    }

}